@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@layer components {
  .smoke-1 {
    animation: shift 5s linear 0.5s infinite;
    opacity: 0;
  }

  .smoke-2 {
    animation: shift-2 4s linear 0.6s infinite;
    opacity: 0;
  }

  .smoke-3 {
    animation: shift-3 5s linear 1.2s infinite;
    opacity: 0;
  }
  .smokes {
    transform: translateX(50px);
  }
  .smoke-container {
    display: flex;
    position: relative;
    width: 80px;
    margin: 0 auto;
    position: relative;
    z-index: 9999;
  }
  @keyframes shift {
    0% {
      transform: translate(10px, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }

    100% {
      transform: translate(10px, 0%);
      opacity: 0;
    }
  }

  @keyframes shift-2 {
    0% {
      transform: translate(0, 155%);
      opacity: 1;
    }

    80% {
      opacity: 0;
    }

    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }

  @keyframes shift-3 {
    0% {
      opacity: 1;
      transform: translate(-10px, 80px);
    }

    80% {
      opacity: 0;
    }

    100% {
      transform: translate(-10px, 0);
      opacity: 0;
    }
  }
  .text-gradient {
    @apply bg-gradient-to-b from-teal-500 via-orange-200 to-orange-500 bg-clip-text text-transparent;
  }
}
::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-slate-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-teal-500 via-orange-200 to-orange-500;
  border-radius: 100vw;
}
